@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.page_header {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.nav {
  width: 700px;
  margin-right: 30px;
}

.nav_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_link {
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.custom_menu_list {
  width: 330px;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}

.menu_item_link {
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.link_button {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
}

.main_container {
  flex-grow: 1;
}

.hero {
  background-image: url("../images/hero/jpg/hero_background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #465570;
}

.hero_img {
  display: block;
  margin: 0 auto;
}

.advantage_container {
  width: 651px;
  margin: 0 auto;
}

.advantage_title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantage_description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantage_list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage_item {
  min-height: 385px;
  text-align: center;
}

.advantage_item_large {
  display: flex;
  flex-wrap: wrap;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.advantage_item_img {
  flex-grow: 1;
}

.advantage_item_container {
  width: 400px;
  padding: 0 85px;
  box-sizing: border-box;
}

.advantage_item_small {
  width: 400px;
  padding: 0 85px;
  box-sizing: border-box;
}

.advantage_item_title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantage_item_large .advantage_item_title {
  color: #FFFFFF;
}

.advantage_item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services_container {
  width: 505px;
  margin: 0 auto;
}

.services_title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services_description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services_item {
  padding: 0 85px;
}

.services_item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services_item_title {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services_item_description {
  text-align: center;
}

.search_hotel {
  width: 592px;
  margin: 0 auto;
}

.search_hotel_title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search_hotel_description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button_modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.subscribe_container {
  width: 684px;
  margin: 0 auto;
}

.subscribe_container {
  width: 684px;
  margin: 0 auto;
}

.page_main .subscribe {
  color: #FFFFFF;
  background-image: url("../images/background_subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #465570;
}

.page_main .subscribe_title {
  color: #FFFFFF;
}

.subscribe_title {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.subscribe_description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button_subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.footer_contacts {
  display: flex;
  justify-content: space-between;
  width: 1060px;
  margin: 0 auto;
}

.footer_phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.inner_header {
  color: #FFFFFF;
  background-image: url("../images/background_filter.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #465570;
}

.inner_header_container {
  width: 1060px;
  margin: 0 auto;
}

.inner_title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs_link {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog_filter {
  display: flex;
  line-height: 23px;
}

.catalog_filter_group {
  border: none;
}

.catalog_filter_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

.catalog_container {
  width: 1060px;
  margin: 0 auto;
}

.button_reset {
  background-color: transparent;
}

.sorting_container {
  display: flex;
}

.filter_output {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select_control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card_item {
  width: 340px;
  /* temp */
  outline: 1px dotted rebeccapurple;
}

.card_item_title_link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.card_link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
}

.card_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

.card_rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination_list {
  display: flex;
  gap: 8px;
  margin: 0;
  /* padding: 0 70px; */
  list-style: none;
}

.pagination_link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination_link_current {
  color: #000000;
  background-color: #F2F2F2;
}
