@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually_hidden {
  position: fixed;
  transform: scale(0);
}

/* Button */
.button {
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

html {
  display: grid;
  min-block-size: 100%;
}

body {
  display: grid;
  min-block-size: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.page_container {
  display: grid;
  grid-template-rows: auto 1fr;
  min-block-size: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* page header - start */
.page_header {
  z-index: 1;
  display: flex;
  column-gap: 44px;
  padding: 0 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* logo */
.logo_container {
  position: relative;
  min-width: 140px;
  height: 70px;
  margin-bottom: -6px;
}

.logo_container:hover {
  transform: scale(1.03) translateY(1px);
  transition: all 0.2s ease-out;
}

.logo_img {
  display: block;
}

/* nav - start */
.nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-grow: 1;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_link {
  display: block;
  padding: 20px 0;
  text-decoration: none;
  text-align: center;
  color: #000000;
  position: relative;
}

.nav_link:hover,
.nav_link:active {
  opacity: 0.6;
}

.nav_link.current::after {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #756257;
  content: "";
}

/* custom menu */
.custom_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px 24px;
  max-width: 320px;
  min-width: 256px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.custom_menu_item:last-child {
  margin-left: auto;
}

.custom_menu_link {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 20px 0;
  text-decoration: none;
}

.custom_menu_link:not(.button):hover {
  transform: scale(1.2);
  transition: all 0.2s ease-out;
}

.custom_menu_link:not(.button):active {
  transform: scale(1);
}

.custom_menu_link.button {
  padding: 8px 34px;
  background-color: #756157;
}

.custom_menu_link.button:hover,
.custom_menu_link.button:focus {
  background-color: #615048;
}

.custom_menu_link.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/* disabled link - ссылки с классом button без href */
.custom_menu_link.button:not([href]) {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

.custom_menu_icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #000000;
}

.custom_menu_counter {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% + 8px);
  display: grid;
  place-content: center;
  min-width: 20px;
  max-width: 25px; /* ограничен 999 */
  height: 20px;
  padding: 0 4px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}
/* nav - end */
/* page header - end */

/* hero - start */
.hero {
  padding: 51px 0 82px;
  background-image:
    url("../images/hero/svg/hero_background_divider.svg"),
    url("../images/hero/jpg/hero_background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: 100%, cover;
  background-color: #465570;
}

.hero_img {
  display: block;
  margin: 0 auto;
}
/* hero - end */

/* advantage - start */
/* advantage header container */
.advantage_header_container {
  width: 660px;
  margin: 0 auto;
  padding: 69px 0 90px 0;
}

.advantage_title {
  margin: 0 0 25px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantage_text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* advantage list - start */
.advantage_list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.advantage_item {
  min-height: 385px;
  text-align: center;
}

.advantage_item_title {
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantage_item_title::after {
  display: block;
  width: 60px;
  margin: 30px auto 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
}

.advantage_item_text {
  margin: 0;
}

/* large */
.advantage_item.large {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #82b3d3;
}

.advantage_large_container {
  display: grid;
  align-content: center;
  width: 400px;
  padding: 40px 80px;
  color: #ffffff;
}

.advantage_large_img {
  display: block;
  align-self: flex-start;
}

.advantage_item.large .advantage_item_title {
  color: #ffffff;
}

.advantage_item.large .advantage_item_title::after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

/* small */
.advantage_item.small {
  display: grid;
  place-content: center;
  width: 400px;
  padding: 40px 80px;
}

.advantage_item.small:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}
/* advantage list - end */
/* advantage - end */

/* services - start*/
/* services header container */
.services_header_container {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.services_title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services_text {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

/* services list */
.services_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.services_item {
  display: grid;
  align-content: center;
  justify-items: center;
  row-gap: 30px;
  min-height: 385px;
  padding: 40px 80px;
}

.services_item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* services icon */
.services_item::before {
  display: block;
  width: 75px;
  height: 72px;
  content: "";
}

.services_item.housing_icon::before {
  background-image: url("../images/services/svg/housing_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services_item.food_icon::before {
  background-image: url("../images/services/svg/food_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.services_item.souvenirs_icon::before {
  background-image: url("../images/services/svg/souvenirs_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* services item title */
.services_item_title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

/* services item description */
.services_item_description {
  margin: 0;
  text-align: center;
}
/* services - end*/

/* search hotel - start*/
.search_hotel {
  width: 592px;
  margin: 0 auto;
  padding: 96px 0;
}

.search_hotel_title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search_hotel_description {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search_hotel_button {
  display: block;
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.search_hotel_button.button:hover,
.search_hotel_button.button:focus {
  background-color: #615048;
}

.search_hotel_button.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.search_hotel_button.button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* disabled link - ссылки с классом button без href */
.search_hotel_button.button:not([href]) {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}
/* search hotel - end*/

/* subscribe - start*/
.subscribe {
  margin: 0 auto;
}

.subscribe_container {
  width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px;
}

.subscribe_title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subscribe_description {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe_form {
  display: flex;
  justify-content: center;
}

.subscribe_input {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe_input:hover,
.subscribe_input:active {
  background-color: #E6E6E6;
}

.subscribe_input:focus {
  outline: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.subscribe_input:disabled {
  opacity: 0.3;
}

.subscribe_submit {
  max-width: 50%;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
}

.subscribe_submit.button:hover,
.subscribe_submit.button:focus {
  background-color: #68a2ca;
}

.subscribe_submit.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.subscribe_submit.button:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* subscribe page main - background img */
.page_main .subscribe {
  color: #ffffff;
  background-image: url("../images/subscribe/jpg/background_subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #465570;
}

.page_main .subscribe_title {
  color: #ffffff;
}
/* subscribe - end*/

/* page footer - start*/
.page_footer {
  padding: 40px 70px 30px;
}

.footer_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* social list */
.social_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 15px;
  max-width: 142px;
  margin: 0;
  padding: 0 8px;
  list-style: none;
}

.social_item_link {
  position: relative;
  display: block;
  min-width: 32px;
  min-height: 25px;
  padding: 4px;
  color: #83b3d3;
}

.social_item_link:hover,
.social_item_link:focus {
  color: #68a2ca;
}

.social_item_link:active {
  color: rgba(104, 162, 202, 0.3);
}

.social_item_icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* footer phone */
.footer_phone {
  padding: 5px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.footer_phone:hover,
.footer_phone:focus {
  color: #756157;
}

.footer_phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/* footer logo */
.footer_logo_link {
  position: relative;
  display: block;
  min-width: 115px;
  min-height: 33px;
  color: #000000;
}

.footer_logo_link:hover,
.footer_logo_link:focus {
  color: #756157;
}

.footer_logo_link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer_logo_icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* page footer - end */

/* inner header - start*/
.inner_header {
  padding: 35px 70px 70px;
  color: #ffffff;
  background-image: url("../images/catalog/jpg/background_filter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #465570;
}

.inner_header_title {
  margin: 0 0 8px 0;
  font-size: 60px;
  line-height: 78px;
}

/* breadcrumbs */
.breadcrumbs_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* добавляем arrow всем item кроме последнего */
.breadcrumbs_item:not(:last-child)::after {
  display: block;
  min-width: 8px;
  height: 20px;
  margin-right: 10px;
  background-image: url("../images/catalog/svg/breadcrumbs_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.breadcrumbs_link {
  position: relative;
  display: block;
  min-width: 13px;
  min-height: 15px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs_link:not([aria-current="page"]):hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs_link:not([aria-current="page"]):active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs_icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* catalog filter - start */
.catalog_filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  line-height: 23px;
}

.filter_container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 70px;
}

.filter_group {
  display: grid;
  align-content: start;
  row-gap: 32px;
  min-width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.filter_title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

/* filter group - infrastructure, type housing */
.filter_list {
  display: grid;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter_control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.filter_control_mark {
  position: absolute;
  left: 0;
  top: 50%;
  display: grid;
  place-content: center;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translateY(-50%);
}

.filter_control_input:focus + .filter_control_mark {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.filter_control:hover input:not(:disabled) ~ span {
  opacity: 0.6;
  cursor: pointer;
}

.filter_control:active .filter_control_input:not(:disabled) ~ span {
  opacity: 0.3;
  cursor: pointer;
}

.filter_control_input:disabled ~ span {
  opacity: 0.3;
  cursor: default;
}

.filter_control_input[type="checkbox"]:checked + .filter_control_mark::after {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/catalog/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.filter_control_input[type="radio"] + .filter_control_mark {
  border-radius: 50%;
}

.filter_control_input[type="radio"]:checked + .filter_control_mark::after {
  display: block;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

/* filter group - price */
.price_container_input {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2px;
  margin-bottom: 36px;
}

.range {
  padding: 8px 0;
}

.range_wrapper_inputs {
  position: relative;
}

.label_input {
  position: absolute;
  top: 50%;
  right: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
}

.range_input {
  width: 143px;
  padding: 12px 42px 12px 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.range_input.min {
  border-radius: 4px 0 0 4px;
}

.range_input.max {
  border-radius: 0 4px 4px 0;
}

.range_input::-webkit-outer-spin-button,
.range_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range_input:hover {
  background-color: #e6e6e6;
}

.range_input:active,
.range_input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range_input:disabled {
  opacity: 0.3;
}

.range_scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range_bar {
  position: absolute;
  /* + html style */
  height: 4px;
  background-color: #ffffff;
}

.range_toggle {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.range_toggle.min {
  left: 0%;
}

.range_toggle.max {
  right: 0%;
}


.range_toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range_toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range_toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.range_toggle:disabled {
  opacity: 0;
  cursor: default;
}

/* filter group - button */
.button_container {
  align-content: flex-end;
  row-gap: 32px;
}

.filter_button {
  padding: 8px 50px;
}

/* button submit */
.filter_button.submit {
  background-color: #82b3d3;
}

.filter_button.submit:hover,
.filter_button.submit:focus {
  background-color: #68a2ca;
}

.filter_button.submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.filter_button.submit:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* button reset */
.filter_button.reset {
  background-color: transparent;
}

.filter_button.reset:hover {
  opacity: 0.6;
}

.filter_button.reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.filter_button.reset:active {
  opacity: 0.3;
  outline: none;
}

.filter_button.reset:disabled {
  opacity: 0.1;
  cursor: default;
}
/* catalog filter - end */
/* inner header - end */

/* catalog - start */
.catalog {
  padding: 50px 70px 60px;
}

/* sorting - start */
.sorting_container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px 70px;
  align-items: center;
  margin-bottom: 40px;
}

.filter_total {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select_mode {
  max-width: 440px;
  min-width: 292px;
  padding: 14px 33px 14px 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  /*  select arrow */
  background-image: url("../images/catalog/svg/select_arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 12px auto;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.select_mode:hover,
.select_mode:focus {
  outline-color: #68a2ca;
}

.select_mode:disabled {
  color: rgba(0, 0, 0, 0.3);
  outline-color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/catalog/svg/select_arrow_disabled.svg");
  cursor: default;
}

.viewer_mode {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 216px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.viewer_mode_link {
  display: grid;
  place-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.viewer_mode_link.current {
  border-color: #000000;
}

.viewer_mode_link:focus {
  outline: none;
  border-color: #68a2ca;
}

.viewer_mode_link:hover,
.viewer_mode_link:active {
  border-color: #000000;
}

.viewer_mode_item .show_card::before {
  width: 16px;
  height: 14px;
  display: block;
  background-image: url("../images/catalog/svg/show_card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.viewer_mode_item .show_more::before {
  width: 16px;
  height: 14px;
  display: block;
  background-image: url("../images/catalog/svg/show_more.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}

.viewer_mode_item .show_list::before {
  width: 16px;
  height: 14px;
  display: block;
  background-image: url("../images/catalog/svg/show_list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: "";
}
/* sorting - end */

/* catalog_list - start */
.catalog_list {
  display: grid;
  gap: 20px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

.catalog_item {
  display: grid;
  gap: 16px 20px;
  padding: 20px;
  word-break: break-all;
  outline: 1px solid #e6e6e6;
  border-radius: 4px;
}

/* смена раскладки: .card_grid - карточками,
                    .card_more - развернуто,
                    .card_list - списком */
/* card_grid - start */
.catalog_list.card_grid {
  grid-template-columns: repeat(auto-fit, 340px);
}

.catalog_item.card_grid {
  grid-template-areas:
    "catalog_img catalog_img"
    "catalog_title catalog_title"
    "catalog_description catalog_description"
    "catalog_more_link catalog_favorites_button"
    "catalog_stars catalog_rating";
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: min-content auto 1fr auto auto;
  align-items: flex-end;
  justify-content: center;
}
/* card_grid - end */

/* card_more - start */
.catalog_item.card_more {
  grid-template-areas:
    "catalog_img catalog_title catalog_stars catalog_rating"
    "catalog_img catalog_description catalog_favorites_button catalog_more_link"
    "catalog_img . . ."
    "catalog_img . . .";
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
/* card_more - end/

/* card_list - start*/
.catalog_item.card_list {
  grid-template-areas:
    "catalog_img catalog_title catalog_title"
    "catalog_img catalog_description catalog_description"
    "catalog_img catalog_more_link catalog_favorites_button"
    "catalog_img catalog_stars catalog_rating";
}
/* card_list - end*/

/* img */
.catalog_img_link {
  display: block;
  grid-area: catalog_img;
  width: 300px;
  height: 212px;
}

.catalog_img {
  display: block;
}

/* title */
.catalog_title {
  grid-area: catalog_title;
  margin: 0;
}

.catalog_title_link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

/* description */
.catalog_description {
  display: grid;
  grid-area: catalog_description;
  grid-template-columns: auto auto;
  justify-content: space-between;
  column-gap: 20px;
  align-self: start;
  margin: 0;
}

/* more link */
.catalog_more_link {
  grid-area: catalog_more_link;
  padding: 8px 18px;
  background-color: #756157;
}

.catalog_more_link:hover,
.catalog_more_link:focus {
  background-color: #615048;
}

.catalog_more_link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

/* disabled link - ссылки с классом button без href */
.catalog_more_link.button:not([href]) {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* favorites button */
.catalog_favorites_button {
  grid-area: catalog_favorites_button;
  padding: 8px 18px;
  word-break: break-all;
  background-color: #82b3d3;
}

.catalog_favorites_button:hover,
.catalog_favorites_button:focus {
  background-color: #68a2ca;
}

.catalog_favorites_button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.catalog_favorites_button.current {
  background-color: #7db54f;
}

.catalog_favorites_button.current:hover,
.catalog_favorites_button.current:focus {
  background-color: #6c9e42;
}

.catalog_favorites_button.current:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.catalog_favorites_button[type="button"]:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* rating */
.catalog_rating {
  display: flex;
  grid-area: catalog_rating;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin: 0;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.rating_value {
  margin: 0;
}

/* stars */
.catalog_stars {
  display: grid;
  grid-area: catalog_stars;
  align-items: center;
  margin: 0;
  padding: 10px 0;
}

.catalog_stars::before {
  display: block;
  height: 17px;
  background-image: url("../images/catalog/svg/stars.svg");
  background-repeat: repeat-x;
  background-position: left;
  background-size: 24px 17px;
  content: "";
}

/*  width stars img = 18px, + margin-right = 6px*/
.stars_1::before {
  width: 18px;
}

.stars_2::before {
  width: 42px;
}

.stars_3::before {
  width: 66px;
}

.stars_4::before {
  width: 90px;
}

.stars_5::before {
  width: 114px;
}
/* catalog_list - end */

/* top border pagination */
.pagination_list::before {
  display: block;
  width: 100%;
  margin-bottom: 32px;
  border-top: 1px solid #e6e6e6;
  content: "";
}

/* pagination - start */
.pagination_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination_link {
  display: grid;
  place-content: center;
  min-width: 60px;
  height: 60px;
  padding: 0 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination_link.current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination_link:not([type="button"]):not(.current):hover,
.pagination_link:not([type="button"]):not(.current):focus {
  background-color: #68a2ca;
}

.pagination_link:not([type="button"]):not(.current):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination_link.disclose {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination_link.disclose:hover,
.pagination_link.disclose:focus {
  background-color: rgba(242, 242, 242, 0.6);
}

.pagination_link.disclose:active {
  background-color: #f2f2f2;
}
/* pagination - end */

/* modal - start*/
.modal_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

/* класс open для открытия модалки */
.modal_container.open {
  display: flex;
}

/* фолбэк */
.modal_container:not(.open),
.modal_container:target {
  display: flex;
}

/* вешаем на body при .modal_container.open или .modal_container:target */
.scroll_lock {
  overflow: hidden;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal_hotel_search {
  width: 717px;
}

.modal_title {
  margin: 0 45px 64px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

/* hotel_search_form */
.hotel_search_form {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 48px;
}

.field_group {
  align-items: center;
}

.field_group_label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-transform: capitalize;
}

.field_group input {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

/* field_group data */
.field_group.data {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 137px 1fr;
}

/* input data */
.wrapper_input_data {
  position: relative;
  align-self: flex-start;
  max-width: 440px;
  min-width: min-content;
}

.input_data {
  width: 100%;
  padding: 12px 45px 12px 20px;
  line-height: 24px;
  background-image: url("../images/modal/svg/icon_calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px;
  border-radius: 4px;
}

.input_data::placeholder {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.input_data:hover {
  background-color: #e6e6e6;
  background-image: url("../images/modal/svg/icon_calendar_hover_focus.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px;
}

.input_data:focus {
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
  background-image: url("../images/modal/svg/icon_calendar_hover_focus.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.input_data:disabled {
  opacity: 0.3;
}

/* input data description */
.input_data_description {
  position: absolute;
  bottom: 0;
  display: none;
  width: 100%;
  padding: 4px 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  transform: translateY(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.input_data_description.warning {
  display: block;
  color: #ff5757;
}

.input_data_description.alert {
  display: block;
}

/* переполнение */
.input_data_description:active::after {
  position: absolute;
  bottom: 100%;
  left: 15%;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/modal/svg/tooltip_arrow.svg");
  content: "";
}

.input_data_description.warning:active {
  transform: translateY(calc(100% + 10px));
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  white-space: normal;
  overflow: visible;
  z-index: 3;
}

.input_data_description.alert:active {
  transform: translateY(calc(100% + 10px));
  color: #ffffff;
  border-radius: 10px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  white-space: normal;
  overflow: visible;
}

/* field group adult */
.field_group.adult {
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 247px;
}

/* field group children */
.field_group.children {
  grid-column: 2 / 3;
  justify-self: flex-end;
  display: flex;
}

.field_group.children .field_group_label {
  margin-right: 11px;
}

/* toggle number persons  */
.toggle_number_persons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.toggle_number_persons:focus {
  outline: none;
}

.toggle_number_persons .sign_icon {
  fill: rgba(117, 97, 87, 0.3);
}

.toggle_number_persons:hover .sign_icon {
  fill: #000000;
}

.toggle_number_persons:focus .sign_icon {
  fill: #000000;
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.toggle_number_persons:active .sign_icon {
  fill: rgba(117, 97, 87, 0.3);
  outline: none;
}

.toggle_number_persons:disabled .sign_icon {
  fill: rgba(117, 97, 87, 0.3);
}

.toggle_number_persons:disabled {
  cursor: default;
}

.toggle_number_persons.minus {
  border-radius: 4px 0 0 4px;
}

.toggle_number_persons.plus {
  border-radius: 0 4px 4px 0;
}

/* number persons */
.wrapper_number_persons {
  display: flex;
}

.number_persons_input {
  z-index: 1;
  display: block;
  width: 31px;
  height: 48px;
  padding: 14px 10px;
  line-height: 20px;
  text-align: center;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.number_persons_input::-webkit-outer-spin-button,
.number_persons_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.number_persons_input:hover {
  background-color: #e6e6e6;
}

.number_persons_input:focus {
  outline: 3px solid #83b3d3;
  background: #e6e6e6;
  border-radius: 4px;
}

.number_persons_input:disabled {
  opacity: 0.3;
}

/* tooltip */
.tooltip {
  position: relative;
  margin-right: 46px;
}

.tooltip_toggle {
  display: grid;
  place-content: center;
  width: 26px;
  height: 26px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.tooltip_toggle_icon {
  color: #83b3d3;
}

.tooltip_text {
  position: absolute;
  top: calc(100% + 15px);
  left: 50%;
  display: none;
  width: 256px;
  padding: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  transform: translate(-50%);
}

.tooltip_text::after {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/modal/svg/tooltip_arrow.svg");
  content: "";
}

/* открывашка tooltip_text */
.tooltip_toggle:hover + .tooltip_text,
.tooltip_toggle:focus + .tooltip_text {
  display: block;
}

/* modal submit */
.modal_submit {
  grid-column: 1 / -1;
  padding: 18px 50px;
  font-size: 20px;
  line-height: 24px;
  background-color: #83b3d3;
  border-radius: 10px;
}

.modal_submit:hover,
.modal_submit:focus {
  background-color: #68a2ca;
}

.modal_submit:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.modal_submit:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  cursor: default;
}

/* modal close button */
.modal_close_button {
  position: absolute;
  top: 64px;
  right: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close_button_icon {
  fill: #000000;
}

.modal_close_button:hover {
  background-color: #e6e6e6;
}

.modal_close_button:focus {
  outline: 3px solid #83b3d3;
  background-color: #e6e6e6;
}

.modal_close_button:active .close_button_icon {
  fill-opacity: 0.3;
}

.modal_close_button:disabled:hover {
  background-color: #f2f2f2;
  cursor: default;
}

.modal_close_button:disabled .close_button_icon {
  fill-opacity: 0.1;
}
/* modal - end*/
