@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Button */
.button {
  padding: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
}

.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.page_header {
  display: flex;
  column-gap: 36px;
  padding: 0 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.logo {
  display: block;
  width: 140px;
  height: 70px;
  position: relative;
  margin-bottom: -6px;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-grow: 1;
  padding: 15px 0;
}

.nav_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_link {
  display: block;
  padding: 5px 8px;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.custom_menu {
  justify-content: center;
  max-width: 320px;
  min-width: 256px;
}

.custom_menu .nav_item:last-child {
  margin-left: 13px;
}

.custom_menu .nav_link {
  min-width: 26px;
  min-height: 26px;
  padding: 4px;
}

.search::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.custom_menu .favorites::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/icons/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.custom_menu .button {
  padding: 8px 34px;
  color: #FFFFFF;
  background-color: #756157;
}

.main_container {
  flex-grow: 1;
}

.hero {
  padding: 51px 0 82px;
  background-image: url("../images/hero/jpg/hero_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #465570;
}

.hero_img {
  display: block;
  margin: 0 auto;
}

.advantage_container {
  padding: 69px 274px;
  margin-bottom: 21px;
}

.advantage_title {
  margin: 0 0 25px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantage_description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantage_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage_item {
  min-height: 385px;
  text-align: center;
}

.advantage_item_large {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantage_item_container {
  display: grid;
  align-content: center;
  padding: 40px 85px;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 400px;
}

.advantage_item_img {
  display: block;
}

.advantage_item_small {
  display: grid;
  align-content: center;
  width: 400px;
  padding: 40px 85px;
}

.advantage_item_title {
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantage_item_container .advantage_item_title {
  color: #FFFFFF;
}

.advantage_item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage_item_description {
  margin: 0;
}

.services_container {
  margin: 0 auto;
  padding: 64px 274px;
}

.services_title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services_description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
}

.services_item {
  display: grid;
  align-content: center;
  min-height: 400px;
  padding: 40px 85px;
}

.services_item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.services_item_title {
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services_item_description {
  margin: 0;
  text-align: center;
}

.search_hotel {
  display: grid;
  padding: 96px 274px;
  margin: 0 auto;
}

.search_hotel_title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.search_hotel_description {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search_hotel_button {
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.subscribe_container {
  margin: 0 auto;
  padding: 96px 258px 104px;
}

.page_main .subscribe {
  color: #FFFFFF;
  background-image: url("../images/background_subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #465570;
}

.page_main .subscribe_title {
  color: #FFFFFF;
}

.subscribe_title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.subscribe_description {
  margin: 0 0 54px 0;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe_form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.subscribe_form_input {
  flex-grow: 1;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribe_form_button {
  max-width: 100%;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.page_footer {
  padding: 40px 70px 30px;
}

.footer_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.social_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 15px;
  max-width: 142px;
  margin: 0;
  padding: 0 8px;
  list-style: none;
}

.social_item_link {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 32px;
  height: 25px;
  padding: 4px;
}

.link_vkontakte::before {
  content: "";
  display: block;
  width: 24px;
  height: 14px;
  background-image: url("../images/icons/vkontakte.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.link_telegram::before {
  content: "";
  display: block;
  width: 18px;
  height: 16px;
  background-image: url("../images/icons/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.link_youtube::before {
  content: "";
  display: block;
  width: 22px;
  height: 17px;
  background-image: url("../images/icons/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer_phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.footer_logo img {
  vertical-align: middle;
}

.inner_header {
  padding: 35px 70px 70px;
  color: #FFFFFF;
  background-image: url("../images/background_filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #465570;
}

.inner_header_title {
  margin: 0 0 8px 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.breadcrumbs_link {
  display: block;
  min-width: 13px;
  min-height: 15px;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs_item .home::before {
  content: "";
  display: block;
  width: 13px;
  height: 15px;
  background-image: url("../images/catalog/svg/breadcrumbs_home.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.breadcrumbs_item:not(:last-child)::after {
  content: "";
  display: block;
  min-width: 8px;
  height: 20px;
  margin-right: 10px;
  background-image: url("../images/catalog/svg/breadcrumbs_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog_filter {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
  line-height: 23px;
}

.filter_container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 70px;
}

.catalog_filter_group {
  display: grid;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog_filter_title {
  margin: 0 0 32px 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog_filter_list {
  display: grid;
  row-gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog_filter_item {
  display: flex;
  align-items: center;
}

.catalog_filter_item input {
  width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
  background-color: #FFFFFF;
}

.range_price_container {
  display: flex;
}

.range_price_container input[type="number"] {
  min-width: 143px;
  padding: 12px 20px;
  margin: 0 1px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
}

.group_button {
  align-content: flex-end;
  row-gap: 32px;
}

.filter_form_button {
  padding: 8px 50px;
}

.catalog_filter_group .submit {
  background-color: #82B3D3;
}

.catalog_filter_group .reset {
  background-color: transparent;
}

.catalog {
  padding: 50px 70px 60px;
}

.sorting_container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.filter_output {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 70px;
}

/* почему не работает padding на стрелку? */
.select_control {
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.select_view_list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.select_view_link {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select_view_item .current {
  border-color: #000000;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 80px 0;
  padding: 0;
  list-style: none;
}

.card_item {
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.card_item_link img{
  display: block;
}

.card_item_title_link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
}

.card_title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.card_description {
  margin: 0;
}

.card_link {
  padding: 8px 18px;
  text-decoration: none;
  background-color: #756157;
}

.card_button {
  padding: 8px 18px;
  background-color: #82B3D3;
}

.card_rating {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 8px 18px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.rating_value {
  margin: 0;
}

.stars {
  margin: 0;
  /* temp */
  width: 140px;
  height: 37px;
}

.pagination_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination_item {
  display: flex;
  border-radius: 4px;
}

.pagination_item .current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination_link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  padding: 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination_button_disclose {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
